@section Scripts{
<script src="~/dist/inline.bundle.js"></script>
<script src="~/dist/polyfills.bundle.js"></script>
<script src="~/dist/vendor.bundle.js"></script>
<script src="~/dist/main.bundle.js"></script>
}
<div class="navbar bg-inverse">
<a class="navbar-brand text-white">@(ViewBag.Message??"SPORTS STORE")</a>
</div>
<div class="p-1">
  <app-root></app-root>
</div>
